<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/style.css">
    <title>Dolly Homepage</title>
</head>
<body>
    <main>
        <div id="sidebar">
            <ul class="categories">
                <li id="Homepage"><a href="homepage.handlebars">Homepage</a></li>
                <li id="Profile"><a href="profile.handlebars">Profile</a></li>
                <li id="Bleets"><a href="bleets.handlebars">Your Bleets</a></li>
            </ul>
        </div>
        <div>
            <h1>{{name}}</h1>
    <p>Email: {{email}}</p>
    <p>Age: {{age}}</p>

    <h2>My Posts</h2>
    <ul>
        {{#each bleets as |bleet| }}
        <li>
            {{content}}
            <button onclick="deletePost('{{id}}')">Delete</button>
        </li>
        {{/each}}
        </div>
    </ul>
    </main>
</body>
</html>